#1.palindrome seris using recursive function

In [8]:
def is_palindrome(s):
    if len(s) < 1:
        return True
    else:
        if s[0] == s[-1]:
            return is_palindrome(s[1:-1])
        else:
            return False
a=str(input("Enter string:"))
if(is_palindrome(a)==True):
    print("String is a palindrome!")
else:
    print("String isn't a palindrome!")

Enter string:anna
String is a palindrome!

## 2.star patten

In [9]:
def pattern(n):
      k = 2 * n - 2
      for i in range(0,n):
           for j in range(0,k):
               print(end=" ")
           k = k - 1
           for j in range(0, i+1):
                print("*", end=" ")
           print(" ")
 
pattern(4)

      *
     * *
    * * *
   * * * *

## 3.given number is binary or not

In [10]:
n=int(input("Enter binary number"))

while(n>0):
    i=n%10
    if i!=1 and i!=0:
        print("not binary")
        break
    n=n//10
    if n==0:
        print("binary")

Enter binary number10001
binary

# Any data set use any hyper parameter tuning main task

In [1]:
import pandas as pd

In [2]:
iris=pd.read_csv('/content/Iris.csv')

In [13]:
iris.shape

(150, 6)

In [4]:
iris.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
iris.drop(['Id'],axis=1,inplace=True)

In [15]:
iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [12]:
#getting kind of iris
iris.Species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [18]:
iris['Species'] = le.fit_transform(iris['Species'])
iris['Species'].value_counts()

0    50
1    50
2    50
Name: Species, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

X = iris.drop(columns= ['Species']) 
y = iris['Species'] 

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30)

In [41]:
#Using decision tree algorithm
from sklearn import tree
classifier=tree.DecisionTreeClassifier(max_depth=3)
classifier.fit(X_train,y_train)
predictions=classifier.predict(X_test)

In [42]:
#check accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictions))

0.9333333333333333

In [43]:
#hyper parameter tuning
from sklearn.model_selection import GridSearchCV

In [44]:
params={'max_depth':[1,2,3,4]}

In [38]:
gsv=GridSearchCV(classifier,params,verbose=3,n_jobs=4)
gsv.fit(X_train,y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=4,
             param_grid={'max_depth': [1, 2, 3, 4]}, verbose=3)

In [39]:
gsv.best_params_

{'max_depth': 3}

In [ ]:
predictions